{% extends "base.html" %}

{% block content %}
<h2>Scansione e Stampa</h2>
<form method="POST" action="/scansione_e_stampa">
    <div class="mb-3">
        <label for="barcode" class="form-label">Scansiona il Codice a Barre</label>
        <input type="text" id="barcode" name="barcode" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Stampa</button>
</form>

<script>
    window.onload = function() {
        document.getElementById("barcode").focus();
    };
</script>

{% endblock %}
